# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

php:
  - 7.0

env:
  - DB=mysql

services:
  - mysql
  
matrix:
  include:
    - php: 7.0
      env: WITH_COVERAGE=true

addons:
  sonarcloud:
    organization: "utopszkij-github"

before_script:
 - composer require "phpunit/phpunit:5.1"
 - mysql -e 'create database test;'
  
script: 
 - cd test
 - phpunit --whitelist . \
   --coverage-clover clover.xml \
   --log-junit junit-logfile.xml \
   .
 
 - cd ..
 - sonar-scanner \
  -Dsonar.projectKey=utopszkij_elovalasztok2018 \
  -Dsonar.organization=utopszkij-github \
  -Dsonar.sources=component/site \
  -Dsonar.host.url=https://sonarcloud.io \
  -Dsonar.php.tests.reportPath=test/junit-logfile.xml \
  -Dsonar.php.coverage.reportPaths=test/clover.xml \
  -Dsonar.login=47b18c5eb028e4cd9651f98af0eed7f6f070d419

