body {font-family: 'Grant Hotel, Roman, Times', serif}

/* common */
#main {margin:0px; padding:0px; text-align:left}
#main .tim-container {background-color:white; color:black; opacity:1; 
  margin:50px 10px 10px 10px;  padding:10px; text-align:left}
.nav-tabs .nav-item {margin-bottom: -3px; margin-left: 2px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {border-color:black black transparent black;}

/* #component {background-color:#e7efda; opacity:1; width:100% } */
#component {background-color:#ffffff; opacity:1; margin:0px -15px 0px -15px }
.control-label, label {display:inline-block; width:250px; text-align:right}
.controls {display:inline-block; width:auto;}
.thead-dark {background:black; color:white;}
.thead-dark a {color:white; text-decoration:none}
.tab-content {border-style:solid; border-width:1px; border-color:silver; 
	background-color:white; color:black;}
.buttons, .browserActions {margin:5px 0px 5px 0px}

/** messages */
#system-message dt {display:none}
#system-message dd.info  {background-color:#b3e2b8}
#system-message dd.error {background-color:#f4b2ab}
#system-message ul {list-style:none}
.infoMsg {background-color:#b3e2b8; text-align:center; padding:20px; margin:5px 30px 5px 20px}
.errorMsg, .notLogin {background-color:#f4b2ab; text-align:center; padding:20px; margin:5px 30px 5px 20px}
.testInfo {color:red; font-weight:bold; margin:5px; text-align:right}

/* topmenu */
#topMenuContainer {background-color:#d0d0d0; color:black; padding:5px; 
	width:100%; height:50px; position:fixed; left:0px; right:0px; top:0px; z-index:10}
#topMenuContainer li {padding: 2px 3px 2px 3px}	
#topMenuContainer a {display:inline-block; color:black; padding:2px 0px 2px 0px; text-decoration:none}
#topMenuContainer span {display:inline-block; color:black; padding:2px 0px 2px 0px; text-decoration:none}
#topMenuContainer a:hover {color:black; text-decoration:none}
#topMenuContainer #logo {float:left; display:inline-block; background-color:black; width:auto; padding:0px;}
#topMenuContainer #logo img {height:35px; margin:0px; padding:0px}
#topMenuContainer #menuContainer {height: 30px; 
  float:left; display:inline-block; width:auto}
#topMenuContainer #topMenu {display:inline-block; width:auto}
#topMenuContainer .menu {width:auto; padding:1px; z-index:10;}
#topMenuContainer .menu > li {display:inline-block; margin: 2px 5px 2px 5px; font-size:16px; font-weight:bolder}
#topMenuContainer .menu a {color:black;}
#topMenuContainer .menu span {display:inline-block; padding:6px 0px 5px 0px}
#topMenuContainer .menu li:hover .nav-child {display:block;}
#topMenuContainer .nav-child {display:none; z-index:11; position:fixed; 
    background-color:#e0e0e0; 
	border-style:solid; border-width:1px; border-radius:5px; padding: 10px 2px 2px 2px}
#topMenuContainer .nav-child > li {display:block; padding:3px;}
#topMenuContainer .nav-child a {text-decoration:none}
#topMenuContainer .nav-child > li:hover {background-color:#b0b0b0}

#userInfo {display:inline-block; float:right;  
	width:auto; height: 35px; margin:10px 10px 0px 0px; padding:0px}

/** home page */
.carousel-caption {bottom:40%}
.carousel-indicators {bottom:10%}
.carousel-item h5 {color:#D0D0D0; font-size:40pt; margin:0px 0px 60px 0px}
.carousel-item a.btn {color:#D0D0D0; font-size:30pt; padding: 10px; margin:0px 40px 0px 0px;
  border-style:solid; border-color:#D0D0D0; border-width:2px; border-radius:20px;}
.carousel-item a:hover {text-decoration:none}  

/* recent-work and tema-wrap  */
#recent-works {margin:0px; padding:0px;}
#recent-works .recent-work-wrap {display:inline-block; width:250px; height:250px; margin:0px; padding:0px;}
#recent-works img {margin:0px; padding:0px; width:250px; height:250px;}
#recent-works .overlay {display:none; margin:0px; padding:10px; width:250px; height:250px; 
	background-color: #B3CFD1}
#recent-works .recent-work-wrap:hover img {display:none;}
#recent-works .recent-work-wrap:hover .overlay {display:block;}

.tema-wrap {padding:10px; height:200px; border-radius:5px; text-align:center}
.tema-wrap h2 {font-size:14pt; margin-top:15px}
.tema-wrap h3 {font-size:12pt}
.tema-wrap em {font-size:32px; padding:6px;
	background-color:#00808B; color:white; width: 46px; height:46px; border-radius:23px;}
.tema-wrap em.disabled {background-color:#d0d0d0}
.tema-wrap em.fa-child {padding: 6px 6px 6px 12px}	
.tema-wrap em.fa-calendar {padding: 6px 6px 6px 8px}	
.tema-wrap em.fa-folder-open-o {padding: 6px 6px 6px 8px}	
.tema-wrap:hover {background-color:#B3CFD1}


/* szervezet logok */
.logok {clear:both; margin-top:10px; line-height:150%}
li.tag-list0 {list-style:none; display:inline-block; width:auto; margin:1px;}
li.tag-list0 a.label {color:white; margin-left:1px;}
ul.inline>li a.label {background-image:none; background-color:transparent; border-style:none; color:white;}
ul.inline>li.tag-2 {background-image:url('../images/logo/mszp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-3 {background-image:url('../images/logo/lmp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-4 {background-image:url('../images/logo/parbeszed_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-5 {background-image:url('../images/logo/egyutt_logo.png'); background-color:transparent; background-repeat:no-repeat;   height:32px; padding: 8px 5px 5px 66px;}
ul.inline>li.tag-6 {background-image:url('../images/logo/fidesz_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-7 {background-image:url('../images/logo/kdnp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-8 {background-image:url('../images/logo/jobbik_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-9 {background-image:url('../images/logo/dk_logo.png'); background-color:transparent; background-repeat:no-repeat;  height:32px; padding: 8px 5px 5px 66px;}
ul.inline>li.tag-10 {background-image:url('../images/logo/liberalisok_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-11 {background-image:url('../images/logo/moma_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-12 {background-image:url('../images/logo/momentum_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-13 {background-image:url('../images/logo/vm_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-14 {background-image:url('../images/logo/fuggetlenek_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-15 {background-image:url('../images/logo/mszdp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-16 {background-image:url('../images/logo/balpart_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 80px; background-position:0px 4px}
ul.inline>li.tag-17 {background-image:url('../images/logo/mkp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 70px;}
ul.inline>li.tag-18 {background-image:url('../images/logo/eubalpart_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-19 {background-image:url('../images/logo/ketfarku_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 46px;}
ul.inline>li.tag-20 {background-image:url('../images/logo/kalozpart_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-21 {background-image:url('../images/logo/ep_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}

/* szavazó form */
#szavazatForm {margin-bottom:40px;}
#szavazoKepernyo h2 {margin-left:0px;}
#preftable {margin-bottom:10px;}
#preftable th {background-color:#B6C6C5; color:black; padding-left:5px; border-color:black;}
#preftable td {background-color:white; color:black; padding-left:5px; border-color:black;}
#preftable select {background-color:white; color:black; }
#voksHelp {color:black}
#preftable tr.marked td {background-color:cyan}

/* eredmeny */
.pollResult {width:100%}
.pollResult th {background-color:#B6C6C5; padding:2px 5px 2px 5px;}
.pollResult .pozicio {border-color:black; text-align:center; width:50px;}
.pollResult .nev {padding:2px 2px 2px 15px}
.pollResult .info {text-align:center; width:180px;}	
.pollLeiras {margin-left:50px; text-decoration:italic}
.pollResult ul.inline {margin:0px; padding:0px;}
.pollResult ul.inline li {padding-bottom:0px}
#eredmenyInfo .right {padding:2px 5px 2px 5px; text-align:center}
.pollResult .red {background-color:#E0c0c0; color:black;}
.pollResult .green {background-color:#c0e0c0; color:black;}
.pollResult .white {background-color:#ffffff; color:black;}
.eredmenySorEllenzett, 
.eredmenySorEllenzett .pozicio {background-color:#e84b45; color:white}

/* jelöltek */
.readmore {border-style:solid; border-width:0px 0px 2px 0px; border-color: black}

/* GDPR question */
#gdpr {position:fixed; z-index:999; left:0px; bottom:0px; width:auto; height:auto; 
	padding:5px; background-color:#e0e0e0; opacity:0.99}

@media (min-width: 1001px) {
	#topMenuIcon {display:none}
	#topMenu {display:block;}
}
@media (min-width: 801px) and (max-width:1000px) {
	#topMenuIcon {display:inline-block; float:left; margin:10px; width:auto}
	#topMenuContainer #topMenu {display:none; margin:3px; padding:1px; background-color:#d0d0d0; z-index:10}
	#topMenuContainer #topMenu li {display:block; margin:3px; padding:1px;}
	#topMenuContainer .nav {display:block;}
	#topMenuContainer .nav > li > a {margin:3px; padding:1px;}
	#topMenuContainer .menu span {padding:1px;}
	#topMenuContainer .nav-child {display:block; position:relative; z-index:10; border-style:none; 
		margin:3px 3px 3px 20px; padding:1px;}
	#topMenuContainer .nav-child li {display:block; margin:3px; padding:1px;}
	#myCarousel h2 {position:fixed; top:200px; left:150px; z-index:10;
		color:#C0C2C1; font-weight:bolder;}	
}
@media (min-width: 401px) and (max-width: 800px) {
	#topMenuIcon {display:inline-block; float:left; margin:10px; width:auto}
	#topMenuContainer #topMenu {display:none; margin:3px; padding:1px; background-color:#d0d0d0; z-index:10}
	#topMenuContainer #topMenu li {display:block; margin:3px; padding:1px;}
	#topMenuContainer .nav {display:block;}
	#topMenuContainer .nav > li > a {margin:3px; padding:1px;}
	#topMenuContainer .menu span {padding:1px;}
	#topMenuContainer .nav-child {display:block; position:relative; z-index:10; border-style:none; 
		margin:3px 3px 3px 20px; padding:1px;}
	#topMenuContainer .nav-child li {display:block; margin:3px; padding:1px;}
	#myCarousel h2 {position:fixed; top:100px; left:50px; z-index:10;
		color:#C0C2C1; font-weight:bolder;}	
}
@media (max-width: 400px) {
	#topMenuIcon {display:inline-block; float:left; margin:10px; width:auto}
	#topMenuContainer #topMenu {display:none; margin:3px; padding:1px; background-color:#d0d0d0; z-index:10}
	#topMenuContainer #topMenu li {display:block; margin:3px; padding:1px;}
	#topMenuContainer .nav {display:block;}
	#topMenuContainer .nav > li > a {margin:3px; padding:1px;}
	#topMenuContainer .menu span {padding:1px;}
	#topMenuContainer .nav-child {display:block; position:relative; z-index:10; border-style:none; 
		margin:3px 3px 3px 20px; padding:1px;}
	#topMenuContainer .nav-child li {display:block; margin:3px; padding:1px;}
	#myCarousel h2 {position:fixed; top:50px; left:20px; z-index:10;
		color:#C0C2C1; font-weight:bolder;}	
}


